FLASK_APP=run.py
FLASK_ENV=production

# 1. Your MongoDB Atlas or Cloud Connection String
MONGO_URI=mongodb+srv://real-estate-crm:real-estate-crm-admin@cluster0.wshic8x.mongodb.net/real_estate_crm?retryWrites=true&w=majority&appName=Cluster0

# 2. Strong Random Security Keys
SECRET_KEY=9f82ab7c31d4e082195f1234567890abcdef1234567890abcdef1234567890ab
JWT_SECRET_KEY=e83a45c78912d034b7f81234567890abcdef1234567890abcdef1234567890cd

# 3. Server Port (Default is 5000)
PORT=5000